{% extends 'base.html.twig' %}

{% block title %}Hello Boss{% endblock %}

{% block body %}
    <div class="container">
        <section class="articles">
            {# Pour aller plus vite
        (article>h2{Titre de l'article}+div.metadata{Écrit le 29 Octobre 2022 à 1h18 à Nantes dans la catégorie dev}+div.content>img+(p>lorem12)*2+a.btn.btn-primary{En savoir plus})*3
            #}
            <article>
                <h2>Titre de l'article</h2>
                <div class="metadata">Écrit le 29 Octobre 2022 à 1h18 à Nantes dans la catégorie dev</div>
                <div class="content"><img src="https://via.placeholder.com/170.png/000000/FFFFFF/?text=by+m-yohane" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nesciunt quo quos.</p>
                    <p>Aut ipsum iusto maxime, nisi nobis recusandae repudiandae tempore totam unde vel?</p>
                    <a href="{{ path('blog_show') }}" class="btn btn-primary">En savoir plus</a></div>
            </article>
           {% for article as articles %}
               <article>
                   <h2>{{ article.title }}</h2>
                   <div class="metadata">Écrit le {{ article.createdAt | date('d/m/Y') }}à 1h18 à Nantes dans la catégorie dev</div>
                   <div class="content"><img src="{{ article.image }}" alt="">
                       {{ article.content }}
                       <a href="{{ path('blog_show') }}" class="btn btn-primary">En savoir plus</a></div>
               </article>
           {% endfor %}
        </section>

    </div>
{% endblock %}
