{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Écrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} à Nantes dans la catégorie dev</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw}}
            </div>
        </article>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid debitis distinctio dolorem, dolorum eaque esse expedita iste nihil no
            n officia quae quasi ratione reprehenderit soluta tempora voluptatem voluptates
            voluptatum! Laudantium!
        </p>
    </div>
{% endblock %}